<!-- <!DOCTYPE html> -->
<html>
<head>
  <link href="{{ url_for('static', filename='css/templateStyles.css') }}" rel="stylesheet" type="text/css"/>
  {% if page_name == 'index' %}
  <link href="{{ url_for('static', filename='css/webcamStyles.css') }}" rel="stylesheet" type="text/css"/>
  {% elif page_name == 'about' %}
  <link href="{{ url_for('static', filename='css/aboutStyles.css') }}" rel="stylesheet" type="text/css"/>
  {% endif %}
</head>
  <body>
    <div class='navbar'>
      <h1>Face Detection on Cloud Foundry</h1>
    </div>
    <div class='optionsbar'>
      <ul>
        <li><a href='/'>The App</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </div>

    <div class='section'>
      {% if page_name == 'index' %}
      <div class='container'>
        <div class='containerText'>
          <p>This Face Detection app will only work if in Chrome or Firefox. Choose the filter by selecting one of the green filter buttons. Then press the black 'Capture Image' button to take a picture. This will save a picture of the webcam image to the box on the right with the detected face on the right. Note that the algorithm only detects faces that are directly facing the camera.</p>
        </div>
      </div>
      <div class='container'>
        <div class='containerVideo'>
          <video id='webcamVideo'></video>

          <!-- For some reason, the width and height must be specified here.
             If it is put in the style tag at the top of the document, it
             takes a size of 300x150, then gets stretched, making it blurry.
           -->
          <canvas id='webcamCanvas' width=640px height=480px></canvas>

          <!-- We require a separate canvas for detection. If we edited
             the webcamCanvas, then the algorithm would not run on it.
          -->
          <canvas id='postDetectCanvas' width=640px height=480px></canvas>
        </div>
      </div>
      <div class='container'>
        <button class='filterButton'>Invert Face Colours</button>
        <button class='filterButton'>Fill Black Box</button>
        <button class='filterButton'>Draw White Box</button>
        <button class='filterButton'>Toggle Screen Mirror</button>
        <button class='filterButton'>Nothing</button>
        <button class='captureButton'>Capture Image</button>
      </div>
      
      {% elif page_name == 'about' %}
      <div class='container'>
        <div class='containerText'>
          <p>This application demonstrates face detection via the <a href='http://docs.opencv.org/trunk/d7/d8b/tutorial_py_face_detection.html'>OpenCV</a> library in Python. Specifically, it uses the Haar-like features proposed by Paul Viola and Michael Jones to train and detect faces. This app is created using <a href='http://flask.pocoo.org/'>Flask</a>, a microframework for web development in Python, and is hosted on <a href='https://pivotal.io/platform'>Pivotal Cloud Foundry</a>.</p>
        </div>
      </div>
      {% endif %}
    </div>

    <script src="{{ url_for('static', filename='webcam.js') }}"></script>

    <div class='footer'></div>

  </body>
</html>