body {
  margin: 0;
  padding: 0;
  border: 0;

  display: flex;
  flex-flow: column nowrap;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008774;
  height: 100px;
}

#navbar h1 {
  text-align: center;
  color: white;
  font-family: Arial;
}

#optionsbar {
  display: flex;
  background-color: #00AE9E;
  justify-content: center;
}

#optionsbar ul {
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
}

#optionsbar li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

#optionsbar li a {
  text-decoration: none;
  font-family: Arial;
  color: white;
  font-size: 20;
}

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.container h1 {
  font-family: Arial;
  font-size: 30;
  color: #424242;
}

.container p {
  font-family: Arial;
  font-size: 18;
  color: #686868;
}

.containerText {
  flex-direction: column;
  width: 50%;
}

.containerVideo {
  flex-wrap: wrap;
}

.containerVideo .video {
  padding: 10px 25px;
}

.btn {
  color: white;
  padding: 6px 8px;
  font-size: 14px;
  border-style: none;
  background-color: #00AE9E;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn-black {
  background-color: black;
}

.btn-container {
  margin-top: 20px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  font-family: Arial;
  background-color: #008774;
}

#footer p {
  color: white;
}
