body {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar {
    background-color: #008774;
    height: 100px;
}

.navbar h1 {
    text-align: center;
    color: white;
    font-family: Arial;
    padding-top: 30px;
}

.optionsbar {
    display: flex;
    background-color: #00AE9E;
    justify-content: center;
}

.optionsbar ul {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
}

.optionsbar li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

.optionsbar li a {
    text-decoration: none;
    font-family: Arial;
    color: white;
    font-size: 20;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container .containerText {
    width: 60%;
}

.container .containerVideo {
    display: flex;
    width: 70%;
    justify-content: center;
}

.filterButton {
    background-color: #008774;
    color: white;
    padding: 6px 8px;
    font-size: 14px;
    border-style: none;
}

.filterButton:not(:last-child) {
    margin-right: 10px;
}

.captureButton {
    background-color: black;
    color: white;
    padding: 6px 8px;
    font-size: 14px;
    border-style: none;
}

.footer {
    position: absolute;
    height: 100px;
    text-align: center;
    font-family: Arial;
    color: white;
}
