#webcamVideo {
  left: 200px;
  width: 640px;
  height: 480px;
  padding-right: 100px;
}
#webcamCanvas {
  position: absolute;
  background-color: gray;
  display: none;
}
#postDetectCanvas {
  position: relative;
  background-color: gray;
}
